{{ define "main" }}
  <article>
    {{ $fmt := site.Params.dateTitleFormat }}
    {{- if and $fmt (findRE `^\d{4}-\d{2}-\d{2}_\d{2}-\d{2}$` .Title) }}
    <h1><time datetime="{{ .Date.Format "2006-01-02" }}">{{ time.Format $fmt .Date }}</time></h1>
    {{- else }}
    {{- with .Title }}
    <h1>{{ . }}</h1>
    {{- end }}
    {{- end }}
    {{ partial "record.html" .Content }}
    {{ with site.Params.datePostFormat }}<p class="post-date"><time datetime="{{ $.Date.Format "2006-01-02" }}">{{ time.Format . $.Date }}</time></p>{{ end }}
  </article>
{{ end }}
